<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.diquest.ta.util.mapper.UtilDao">

    <select id="getDailyCallList" resultType="map" parameterType="map">
        /* com.diquest.ta.util.mapper.UtilDao : 일별 콜리스트 조회 */
        SELECT
            'A' AS `ALL` ,
            RCI.R_FILE_NM ,
            GROUP_CONCAT(STT_SNTC_CONT SEPARATOR ',') AS CONTENT
        FROM
            TA_PLATFORM.REC_CALL_INFO RCI
        INNER JOIN TA_PLATFORM.TA_CALL_MAPPER TM
        ON
            RCI.R_FILE_NM = TM.NEW_ID
            INNER JOIN STT_LOTTE.STT_RST SR ON
            TM.OLD_ID = SR.RECORDKEY
        WHERE
            1 = 1
            AND RCI.YYYYMMDD = '20200520'
        GROUP BY
            RCI.R_FILE_NM

    </select>
</mapper>